<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>  <!-- Dynamic title based on product name -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1 class="shop-name">
            <a href="{{ url_for('front_page') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="shop-name">
            </a>
        </h1>

    <div class="product-detail">
        <h1>{{ product.name }}</h1>  <!-- Dynamic product name -->
        <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{ product.name }}" class="product-image">
        <div class="item-content">
            <p>Description: {{ product.description }}</p>  <!-- Dynamic product description -->
            <p>Price: ${{ product.price }}</p>  <!-- Dynamic product price -->
            <p>Environmental Impact: {{ product.environmental_impact }}</p>  <!-- Dynamic environmental impact -->
            <button onclick="location.href='{{ url_for('add_to_basket', product_id=product.id) }}'">Add to Basket</button>
        </div>
    </div>
</body>
</html>
